.navbarbg {
  height: 53px;
  background-color: white;
  border-color: #5f5f5f;
  border-width: 1px;
}
.nav-item{
  width: max-content;
  height:max-content ;
}

input.searche {
  height: 36px;
  max-width: 500px;
  background-color: #eef3f8;
  border: 0;
}

input.searche::placeholder {
  font-size: 14px;
  color: gray;
  background-image: url(/assets/search-solid.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  padding-left: 25px;
}

.body {
  background-color: #f3f2ef;
}

.menutext {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin-top: 5px;
  font-weight: lighter;
}

.menutext:hover {
  color: black;
}

button.mediatext {
  color: #5f5f5f;
}

button.mediatext:hover {
  color: #5f5f5f;
}

.mediatext {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f5f5f;
  border: 0;
  margin-top: 18px;
  padding: 8px;
}

i {
  color: gray;
  margin-top: 8px;
}
i:hover {
  color: black;
}

input.content {
  border-radius: 40px;
  height: 45px;
}
input.content::placeholder {
  font-weight: bolder;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/assets/edit-regular.svg);
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 25px;

}

div.card {
  border-radius: 10px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.view {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #5f5f5f;
}

.categories {
  font-size: 13px;
  font-weight: bold;
  color: #0a66c2;
}

li {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.link {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5f5f5f;
}

button.ref {
  color: white;
}

button.ref:hover {
  color: #5f5f5f;
}

.postphoto {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
}
.posttext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
}
.ms-5 {
  margin-left: 190px;
}
.me-5{
  margin-right: 150px;
}
.icon-blue{
  fill: #70B5F9;
}
.icon-green{
  fill: #7FC15E;
}
.icon-orange{
  fill: #E7A33E;
}
.icon-pink{
  fill: #F5987E;
}